<!DOCTYPE html>
<html>
  <head>
    <title>Nos docs en 1 clic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-100">
    <nav class="flex items-center px-10 py-6 mb-10 bg-orange-400">
      <div class="items-center w-1/4 text-white">
        <%= link_to "Nos docs en 1 clic", root_path, class: "font-semibold text-xl tracking-tight" %>
      </div>
      <div class="flex items-center w-2/4">
        <%= form_with url: documents_path, method: 'get', local: true, class: 'w-full rounded bg-gray-200 flex py-2 items-center' do %>
            <%= button_tag :submit, name: nil, class:'px-2 text-gray-500 items-center flex leading-none' do %>
              <%= mi.search.css_class('fill-current') %>
            <% end %>
            <%= text_field_tag :search, params[:search], class: 'appearance-none bg-transparent w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none', data: {reflex:"input->Example#search"} %>
        <% end %>
        <%= link_to "New", new_document_path, class: "bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 rounded shadow-lg" %>
      </div>
      <div class="flex flex-row-reverse items-center w-1/4">
        <%= render 'layouts/logged_account' %>
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="container mx-auto">
        <div class="flex p-4 text-green-700 bg-green-100 border-l-4 border-green-500" role="alert">
          <%= mi.info %>
          <p class="ml-2"><%= flash[:notice] %></p>
        </div>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="container mx-auto">
        <div class="flex p-4 text-red-700 bg-red-100 border-l-4 border-red-500" role="alert">
          <%= mi.error %>
          <p class="ml-2"><%= flash[:error] %></p>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
