<!DOCTYPE html>
<html>
  <head>
    <title>Nos docs en 1 clic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-100">
    <nav class="flex items-center bg-orange-400 py-6 px-10 mb-10">
      <div class="w-1/4 items-center text-white">
        <%= link_to "Nos docs en 1 clic", root_path, class: "font-semibold text-xl tracking-tight" %>
      </div>
      <div class="w-2/4 flex items-center">
        <%= form_with url: documents_path, method: 'get', local: true, class: 'w-full rounded bg-gray-200 flex py-2 items-center' do %>
            <%= button_tag :submit, name: nil, class:'px-2 text-gray-500 items-center flex leading-none' do %>
              <%= mi.search.css_class('fill-current') %>
            <% end %>
            <%= text_field_tag :search, params[:search], class: 'appearance-none bg-transparent w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none' %>
        <% end %>
      </div>
      <div class="w-1/4 items-center flex flex-row-reverse">
        <%= link_to "New", new_document_path, class: "bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 rounded shadow-lg" %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
