<!DOCTYPE html>
<html>
  <head>
    <title>Documents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-100">
    <nav class="flex items-center justify-between flex-wrap bg-orange-400 py-6 px-10 mb-10">
      <div class="flex items-center flex-shrink-0 text-white mr-8">
        <%= link_to "Documents", root_path, class: "font-semibold text-xl tracking-tight" %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
